/* Site managment */
.dark-mode {
  /* *:not(img, video, iframe, head, head *) */
  -webkit-filter: invert(95%) hue-rotate(180deg);
          filter: invert(95%) hue-rotate(180deg);
  }
.hidden {
  display: none;
  }
.blank {
  display: block;
  width: 150px;
  height: 10px;
  }
.centred-box {
  width: 225px;
  text-align: center;
  }

/* Main elements */
#body-text-recognition {
  background-color: #cccccc;
  width: 250px;
  height: 350px;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
:is(button, label, .sign) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  }
#blur-panel {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000080;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  }

/* Body wrapers */
.top-frame {
  width: 250px;
  height: 50px;
  }
.body-frame {
  width: 250px;
  height: 300px;
  }
.dialog-frame {
  width: 150px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate:-50% -50%;
  background-color: #bbbbbb;
  border-radius: 25px;
  }

/* Postioning elements */
.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
.container-right {
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  }

/* Basic element's settings */
.input-text {
  display: block;
  width: 150px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  }
.input-checkbox {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  }
.image-preview {
  width: 150px;
  height: 75px;
  }
.label-input-checkbox {
  display: inline-block;
  font-size: small;
  }

/* Dialogs' settings */
.dialog-text {
  width: 100px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  }
.dialog-description {
  width: 140px;
  text-align: center;
  font-size: small;
  }
.sign {
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 100%;
  font-size: 54px;
  font-style: normal;
  text-decoration: none;
  }
.success-mark {
  background-color: #00ff00;
  }
.error-mark {
  background-color: #ff0000;
  }
.warning-mark {
  background-color: #ff8000;
  }
.button-dialog-return {
  width: 55px;
  margin: 0 20px;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  color: #000000;
  background-color: #dddddd;
  font-size: medium;
  text-transform: uppercase;
  &:hover {
    -webkit-filter: brightness(110%);
            filter: brightness(110%);
    }
  }

/* Buttons' settings */
.button-return, .button-sign, .button-logout, .button-action, .buttton-resend, .button-copy {
  display: block;
  width: 150px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  border-style: none;
  color: #000000;
  background-color: #dddddd;
  font-size: small;
  font-weight: bold;
  &:hover {
    color: #ffffff;
    }
  }
.buttton-resend {
  width: 120px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
  color: #ff7777;
  font-size: x-small;
  }
.button-copy {
  width: 140px;
  height: 15px;
  margin: 5px;
  border-radius: 10px;
  font-size: x-small;
  }
:is(.button-return, .button-sign, .button-logout):hover {
  background: #585858;
  background: -o-linear-gradient(45deg, #585858 0%, #929292 100%);
  background: linear-gradient(45deg, #585858 0%, #929292 100%);
  }
.button-action:hover {
  background: #7CE2EC;
  background: -webkit-gradient(linear, left top, right top, from(#7CE2EC), color-stop(50%, #3690BB), to(#57A3E1));
  background: -o-linear-gradient(left, #7CE2EC 0%, #3690BB 50%, #57A3E1 100%);
  background: linear-gradient(to right, #7CE2EC 0%, #3690BB 50%, #57A3E1 100%);
  }
.buttton-resend:hover {
  background: #EC4C35;
  background: -webkit-gradient(linear, left top, right top, from(#EC4C35), color-stop(50%, #9D0A0A), to(#D76257));
  background: -o-linear-gradient(left, #EC4C35 0%, #9D0A0A 50%, #D76257 100%);
  background: linear-gradient(to right, #EC4C35 0%, #9D0A0A 50%, #D76257 100%);
  }
.button-copy:hover {
  background: #DDDD1D;
  background: -o-linear-gradient(45deg, #DDDD1D 0%, #98892D 100%);
  background: linear-gradient(45deg, #DDDD1D 0%, #98892D 100%);
  }
:is(.button-return, .button-sign, .button-logout, .button-action, .buttton-resend, .button-copy):active {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  }